.cardsWrapper {
  display: flex;
  gap: 16px;
}

.sectionTitle {
  font-weight: 800;
  font-size: 22px;
  line-height: 140%;
  margin-bottom: 24px;

  @media (min-width: 640px) {
    font-weight: 800;
    font-size: 32px;
    line-height: 128%;
  }
}
