@import './fonts';

:root {
  // Colors -- Dark Theme
  --primary: #905bff;
  --selected: #323542;
  --hover: #a378ff;
  --secondary: #75767f;
  --icons: #4a4d58;
  --elements: #3b3e4a;
  --surface_1: #161827;
  --surface_2: #323542;
  --black: #0f1121;
  --white: #f1f2f9;
  --accent: #e8e9ee;
  --green: #27ae60;
  --red: #eb5757;
}

body {
  font-family: 'Mont', sans-serif;
  background-color: var(--black);
  color: var(--white);
}

.container {
  max-width: 1200px;
  min-width: 320px;
  margin-inline: auto;
}
